
<!DOCTYPE html>
<html>
<head>
    <title>Plotly</title>
   
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <div id="test"></div>
    <script>


d3.csv('../data/bdc.csv',
  function(err, rows){function unpack(rows, key) {return rows.map(function(row){ return row[key];
})};

var data = [{
  lon: unpack(rows, 'longitude'), lat: unpack(rows, 'latitude'), radius:10,
  z: unpack(rows, 'Counts'), type: "densitymapbox", coloraxis: 'coloraxis',
  hoverinfo: 'skip'}];

var layout = {
    mapbox: {center: {lon: 60, lat: 30}, style: "outdoors", zoom: 2},
    coloraxis: {colorscale: "Viridis"}, title: {text: "Billionaires by Country"},
    width: 600, height: 400, margin: {t: 30, b: 0}};

var config = {mapboxAccessToken: API_KEY};

Plotly.newPlot('myDiv', data, layout, config);
})
    </script>

       <!-- API key -->
  <script type="text/javascript" src="config.js"></script>
  <!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script> -->

  
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script> 
 

  
</body>


</html>

